@font-face {
	font-family: Dancing;
	src: url(../fuentes/dancing-script.ttf);
}

/*Animación del Body*/
@keyframes animacion_header
{
  0% {
    position: relative;
    margin-top: 150%;
  }
  60% {
    position: relative;
    margin-top: -5%;
  }
  100% {
    position: relative;
    margin-top: 0%;
  }
}
body{
  font-family: "Dancing";/*Utiliza la tipografía Dancing Script*/
	background-color: #02010a;/*Establece el color de fondo negro #02010a*/

  animation-name: animacion_header;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

img
{
	box-shadow: 2px 2px 0 #82c3a6;/*Cada imagen tiene un efecto de sombra de 2px con color #02010a*/
}

.Contenido
{
	width: 100%;
}

#Cabecera
{
  background-color: #5b7989;/*Establece el fondo de color #5b7989*/
  color: white;/*en blanco la letra*/
  text-shadow: 2px 2px #02010a; /*la letra debe tener una sombra de 2px de color #02010a*/
  border-radius: 10px 10px 0px 0px;/*Aplica bordes redondeados en las esquinas superiores a 10px*/
	display: flex;
	flex-flow: row wrap;
}

#Titulo
{
  text-align: left;
	width: 50%;
}

#Enlaces
{
  text-align: right;
  padding: 0px 10px 1px 0px;
	width: 50%;
}

@media all and (max-width: 900px) {
	#Titulo {
		text-align: center;
		width: 100%;
		order: 1;
	}
	#Enlaces {
		text-align: center;
		width: 100%;
		order: 2;
	}
}

header a{
  color: white;
}

#EstaPagina
{
  text-decoration: none;/*La página actual debe tener estilo sin subrayado*/
}

.FilaImagenSecundaria {
	background-color: #d5c75f;
	border: 1px solid black;/*Aplica como color de fondo #d5c75f y un borde de 1px*/
	text-align: center;

	margin: 0;
	padding: 0;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}
.FilaImagenSecundaria .caja1 {
	width: 50%;
}
.FilaImagenSecundaria .caja2 {
	width: 50%;
}

@media all and (max-width: 900px) {
	.FilaImagenSecundaria .caja1 {
		width: 100%;
		order: 1;
	}
	.FilaImagenSecundaria .caja2 {
		width: 100%;
		order: 2;
	}
}

.FilaImagenesPaisajesYRetratos {
	background-color: #d5c75f;
	margin: 0;
	padding: 0;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}
.FilaImagenesPaisajesYRetratos .caja1 {
	width: 33.3%;
}
.FilaImagenesPaisajesYRetratos .caja2 {
	width: 33.3%;
}
.FilaImagenesPaisajesYRetratos .caja3 {
	width: 33.3%;
}

@media all and (max-width: 900px) {
	.FilaImagenesPaisajesYRetratos .caja1 {
		width: 100%;
		order: 1;
	}
	.FilaImagenesPaisajesYRetratos .caja2 {
		width: 100%;
		order: 2;
	}
	.FilaImagenesPaisajesYRetratos .caja3 {
		width: 100%;
		order: 3;
	}
}

#ImagenCentral
{
  text-align: center;/*Esta secccion debe tener la imagen centrada*/
  background-color: #82c3a6;/*Establece como color de fondo #82c3a6*/
  padding: 10px;
}

#imagensecundaria1 img:hover{
  transform: rotate(10deg);/*aplica un efecto de rotación de 10 grados*/
}

#imagensecundaria2 img:hover{
  transform: translate(20px, -5px);/*aplica un efecto de traslación de 5px hacia arriba y 20px a la derecha*/
}
footer
{
  background-color: #C6d5c5;/*Aplica el color de fondo #C6d5c5*/
  border-radius: 0px 0px 10px 10px;/*Aplica bordes redondeados en las esquinas inferiores a 10px*/
	display: flex;
	flex-flow: row wrap;
  padding: 10px;
}
footer .Contacto
{
	width: 25%;
}
footer .Terminos
{
	width: 25%;
}
footer .Redes
{
	width: 25%;
}
footer .Derechos
{
	width: 25%;
}
@media all and (max-width: 900px) {
	footer .Contacto {
		width: 100%;
		order: 1;
	}
	footer .Terminos {
		width: 100%;
		order: 2;
	}
	footer .Redes {
		width: 100%;
		order: 3;
	}
	footer .Derechos {
		width: 100%;
		order: 4;
	}
}

footer a{
  color: black;
}
.Contacto
{
  width: 25%;
}
.Terminos
{
  width: 25%;
}
.Redes
{
  width: 25%;
}
.Derechos
{
  width: 25%;
}
#copyright
{
  width: 20px;
  height: 20px;
}
.imgRedes
{
	width: 20px;
	height: 20px;
	padding: 1px;
}
/*Paisajes*/
#imagenp1
{
  filter: blur(10px);
}
#imagenp2, #imagenp4, #imagenp6{
  filter: grayscale(100%);
}
#imagenp3
{
  filter: sepia(90%);
}
/*Rostros*/
#imagenr1
{
  filter: blur(10px);
}
#imagenr2, #imagenr4, #imagenr6{
  filter: grayscale(100%);
}
#imagenr3
{
  filter: sepia(90%);
}
